:root {
  --primary-color: #5a4083;
  --soft-primary: rgba(90, 64, 131, 0.5);
  --primary-hover-color: #4c3670;
  --primary-green-color: #3caa94;
  --primary-green-soft-color: #3caa949a;
  --black: #333;
  --white: #fff;
  --red: #b94a48;
  --soft-red: rgba(185, 74, 72, 0.19);
  --green: #468847;
  --soft-green: #effaf3;
  --gray: #8e8e93;
  --accordion-bg: #fdfdfd;
  --filter-border: #E8E8E8;
}
